language: python

matrix:
  fast_finish: true
  allow_failures:
    - nightly
    - 3.7-dev
    - 3.6-dev

python:
  - '3.6'
  - 3.6-dev
  - 3.7-dev
  - nightly

install:
  - pip install .[dev]

script:
  - python setup.py flake8
  - python setup.py test
  - python setup.py doc
  - python setup.py sdist
  - python setup.py bdist_wheel

deploy:
  - provider: pypi
    distributions: sdist bdist_wheel
    user: Ovv
    password:
      secure: abuXsWRiaawFvA8xleYW25gGMeYfG/6ZnbbfB/A0E/ZETUk4OoxBLrSQszdX78cxRe3p1MOIwDBABJRE2QozCaC5GK3FsNHdHoGmUYDT3VBsaPjj/G796r9W/EaO4Iwg/SqVi2vIFfpxx5Xgn+V1jWcHweBM/d+sNi1MdeshKwLHBQn1gEeUT2HMXSdyHsPDmXU7j2hvgo6s8mhvJ2s/bxSffgr5ay5tzOMMKjMaQGVVv5HMiiWMYV/h6R9UUt9cpBc6zCau6VzZ5v1lMYcuZaAdEQYo23A1wThpeDHlbpxFdChDsJN6bbr6Vr4bpCxp3yTg5fGL1xiquIm/eK8Uwru92+tQ+oSrRoBfQ4CmaBPa1RJyasS2eSuEUIkscbrbczT+n/v2yfJCW1qgwhrygDIfRtvfYe0Y6CZWvruaJEBTPvHcJrQwFVyofdAwon2c8xWh4OwEGHxPeZvlkyc5jQvkJt9X5Qhv6RKHL8QkyP8FGCLvEGeMrXNTT7soIr1LEwG+DiVovVF9B/s0ZabbPWvL6C91evE48lUp7Q2zMw8gucl0JicJ4YRw4GKZ+T6pHvQOASf020D2j6H96UwyCYjBJoYwppsQ8GL4AL6Kb0C1cr6XjEmfBBk0MWuKQsNrVafr9LKirEnMVFo+0x2rMMFz/w8o7d/5g+hXJoED2ns=
    on:
      repo: pyslackers/sir-bot-a-lot-2
      branch: master
      python: '3.6'
      tags: true
