[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "*"

[dev-packages]
tox = "*"
sphinx = "*"
sphinxcontrib-asyncio = "*"
sphinxcontrib-napoleon = "*"

[requires]
python_version = "3.6"
