[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiofiles = "*"
asyncpg = "*"
asyncio-contextmanager = "*"
slack-sansio = {git = "https://github.com/pyslackers/slack-sansio.git", ref = "6eaa6d6d5bd53dd762516f0446210a22351558f6"}
gidgethub = "*"
ujson = "*"
apscheduler = "*"

[dev-packages]
tox = "*"
sphinx = "*"
sphinxcontrib-asyncio = "*"
sphinxcontrib-napoleon = "*"
"flake8" = "*"
black = "*"
isort = "*"
pytest = "*"
coverage = "*"
pytest-coverage = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"
asynctest = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
